.button, .combo-box-base{
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(blueviolet, #e8f5fc),
        linear-gradient(grey 0%, #d9f0fc 49%, darkgrey 50%, black 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-text-fill: white;
}

.list-view {
    /* */
}

.list-cell {
    -fx-font-weight: bold;
}

.list-cell:even {
    -fx-background-color:ghostwhite;
}

.list-cell:odd {
    -fx-background-color:floralwhite;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: blue;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF4136;
    -fx-fill: blueviolet;
    -fx-effect: innershadow( three-pass-box , rgba(.6,.6,.2,0.7) , 7, 0.0 , 1 , 3 );
}

.root {
    -fx-background-image: url("background.jpg");
}

.text-input {
    -fx-background-color:lightgrey;
    -fx-font-weight: bold;
}

.combo-box-base {
    
}